<div class="row">
  <div class="col">
    <ol class="list-group">
      @for (todo of todos(); track todo) {
        <li
          (click)="selectTodo(todo)"
          class="list-group-item"
          [ngClass]="{'list-group-item-primary': todo == selectedTodo()}"
        >
          {{todo.name}} : {{todo.content}}
          <i
            class="bi bi-trash2"
            (click)="deleteTodo(todo)"
          ></i>
        </li>
      }
    </ol>
  </div>
  <div class="col">
    name:
    <input [(ngModel)]="todo().name"  type="text" class="form-control" /> content:
    <input [(ngModel)]="todo().content"  type="text" class="form-control" />
    <button
      class="btn btn-primary m-2"
      (click)="addTodo()"
      >
      add
    </button>
  </div>
</div>
<div class="alert alert-success">
  {{selectedTodo()?.name ?? 'no selected Todo yet'}}
</div>
